body {
    font-family: "Roboto", sans-serif;
    /* Light 300 Italic, Regular 400, Black 900 */
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
}

a:visited {
  text-decoration: none;
  color: #9c9ea1;
}

a:hover {
  text-decoration: none;
  color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    background-color: #1f2937;
    color: #f9faf8;
}

.header-text {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
    margin-top: 10px;
}

.header-links {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    color: #f9faf8;
    list-style: none;
}

li {
    padding-right: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    color: white;
    padding: 20px;
    /* position: fixed; */
}